<div class="sidebar">
    <a href="/">Home page</a>
    <a href="/find">Find a Dog/Cat</a>
    <a href="/dcare">Dog Care</a>
    <a href="/ccare">Cat Care</a>
    <a href="/away">Have a pet to give away</a>
    <a href="/contact">Contact Us</a>
    <a href="/register">Create Account</a>
    <a href="/logout">Logout</a>
</div>
