<%- include('partials/header') %>
<main>
  <%- include('partials/sidebar') %>
  <div class="content">
    <h1>Give away Successful!</h1><br>
    <p style="font-size: larger;">Your pet has been given away successfully.</p><br>
  </div>
</main>
<%- include('partials/footer') %>
