<%- include('partials/header') %>
  <main>
    <%- include('partials/sidebar') %>
      <div class="content">
        <div class="grid-container">
          <div class="grid-item">
            <img src="pomeranian.jpg" alt="Pomeranian" width="360" height="250"><br>
            <b>Breed: </b>Pomeranian <br>
            <b>Gender: </b>Female <br>
            <b>Age: </b>2
            <br><br>
            <button type="submit" class="btn btn-primary">Interested</button>
          </div>
          <div class="grid-item">
            <img src="husky.jpg" alt="Husky" width="360" height="250"><br>
            <b>Breed: </b>Husky <br>
            <b>Gender: </b>Male <br>
            <b>Age: </b>1
            <br><br>
            <button type="submit" class="btn btn-primary">Interested</button>
          </div>
          <div class="grid-item">
            <img src="golden.jpg" alt="Golden Retriever" width="360" height="250"><br>
            <b>Breed: </b>Golden Retriever <br>
            <b>Gender: </b>Female <br>
            <b>Age: </b>5
            <br><br>
            <button type="submit" class="btn btn-primary">Interested</button>
          </div>  
          <div class="grid-item">
            <img src="maine-coon.jpg" alt="Maine Coon" width="360" height="250"><br>
            <b>Breed: </b>Maine Coon <br>
            <b>Gender: </b>Female <br>
            <b>Age: </b>3
            <br><br>
            <button type="submit" class="btn btn-primary">Interested</button>
          </div>
          <div class="grid-item">
            <img src="short.jpg" alt="Short Hair" width="360" height="250"><br>
            <b>Breed: </b>Short Hair <br>
            <b>Gender: </b>Female <br>
            <b>Age: </b>1
            <br><br>
            <button type="submit" class="btn btn-primary">Interested</button>
          </div>
          <div class="grid-item">
            <img src="persian.jpg" alt="Persian" width="360" height="250"><br>
            <b>Breed: </b>Persian <br>
            <b>Gender: </b>Male <br>
            <b>Age: </b>6
            <br><br>
            <button type="submit" class="btn btn-primary">Interested</button>
          </div>   
        </div>
      </div>
  </main>
<%- include('partials/footer') %>