<%- include('partials/header') %>
  <main>
    <%- include('partials/sidebar') %>
      <div class="content">
        <h3 style="text-align: center;">Steps for Dog Care</h3>
        <p style="text-align: center;">
           <br><b>1. Provide Proper Nutrition:</b><br>
•	Feed your dog a balanced diet appropriate for their age, size, and health condition.<br>
•	Ensure fresh water is available at all times.<br><br>

<b>2. Regular Exercise:</b><br>
•	Take your dog for daily walks to provide physical exercise and mental stimulation.<br>
•	Engage in playtime activities such as fetch, tug-of-war, or agility training.<br><br>

<b>3. Routine Veterinary Care:</b><br>
•	Schedule regular check-ups with the veterinarian for vaccinations, dental care, and overall health assessments.<br>
•	Keep up with parasite prevention, including flea, tick, and heartworm treatments.<br><br>

<b>4. Grooming:</b><br>
•	Brush your dog’s fur regularly to prevent matting and reduce shedding.<br>
•	Bathe your dog as needed, typically every few weeks, depending on the breed and activity level.<br>
•	Trim nails regularly and clean ears to prevent infections.<br><br>

<b>5. Training and Socialization:</b><br>
•	Teach basic commands such as sit, stay, come, and heel.<br>
•	Socialize your dog with other animals and people to build confidence and reduce anxiety.<br><br>

<b>6. Safe and Comfortable Living Environment:</b><br>
•	Provide a cozy bed and a designated sleeping area.<br>
•	Ensure your home and yard is safe and secure, with no access to harmful substances or objects.<br><br>

<b>7. Mental Stimulation:</b><br>
•	Offer toys and puzzles to keep your dog mentally engaged.<br>
•	Rotate toys to keep your dog interested and challenged.<br><br>

<b>8. Love and Attention:</b><br>
•	Spend quality time with your dog to build a strong bond.<br>
•	Show affection and positive reinforcement to encourage good behavior.<br><br><br>

<i>By following these steps, you will help ensure your dog stays healthy, happy, and well-adjusted.</i><br>

      </p>
    </div>
  </main>
<%- include('partials/footer') %>