<%- include('partials/header') %>
  <main>
    <%- include('partials/sidebar') %>
    <div class="content">
        <img src="cat.jpg" alt="Cat" class="responsive">
        <a href="/browse" class="buttn">Click Here to Adopt</a>
    </div>
  </main>
<%- include('partials/footer') %>