<%- include('partials/header') %>
  <main>
    <%- include('partials/sidebar') %>
        <div class="content">
          <p>
              Your privacy is of utmost importance to us. This Privacy Statement outlines how we handle and protect 
              your personal information, ensuring it is never sold or misused. <br>
              By using our website, you agree to the terms outlined below.<br>
            <br><b>Information Collection and Use</b><br><br>
            We collect personal information that you voluntarily provide to us when you:<br>
          •	Register an account<br>
          •	Post content or reviews<br>
          •	Contact us for support<br><br>
          The information we collect includes, but is not limited to, your name, email address, postal address, and 
          any other details necessary to provide you with our services.<br><br>

          <b>Protection of Your Information</b><br><br>
              We implement a variety of security measures to maintain the safety of your personal information.<br><br>
              These measures include:<br>
          •	Secure servers and encrypted databases<br>
          •	Restricted access to personal information by authorized personnel only<br><br>

          <b>Use of Your Information</b><br><br>
              We use your information to:<br>
          •	Provide, operate, and maintain our website<br>
          •	Improve and personalize your experience<br>
          •	Respond to your comments, questions, and provide customer service<br><br>

          <b>No Selling of Personal Information</b><br><br>
          We assure you that your personal information will never be sold, rented, or shared with third parties for 
          their marketing purposes. Your trust is our top priority, and we are committed to maintaining your privacy.<br><br>

          <b>Disclaimer</b><br><br>
          We are not liable for any incorrect information posted by users, including but not limited to, pet owners. 
          It is the responsibility of each user to ensure the accuracy and integrity of their posts. We reserve the 
          right to remove any content that violates our terms of service or is deemed inappropriate.<br><br>

          If you have any questions about this Privacy Statement, please <a href="/contact">contact us</a><br><br>

          <i>By using our website, you consent to this Privacy Statement.</i><br>
          </p>
        </div>
    </main>
<%- include('partials/footer') %>